body {
    background: #262626;
    color: white;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

h1 a {
    text-decoration: none;
    color: white;
}

h1 a:hover {
    color: #60a5fa;
}

#scores {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

#scores > div {
    width: 50%;
    text-align: center;
    font-size: 18pt;
}

#selections {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

#selections > div {
    width: 50%;
    text-align: center;
    font-size: 18pt;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#buttons button:nth-child(2) {
    margin-inline: 20px !important;
}

#buttons button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 25px;
    border: none;
    background-color: #737373;
    color: white;
    font-size: 18pt;
    border-radius: 7px;
}

#buttons button:hover {
    background-color: #a3a3a3;
}

#buttons button:active {
    background-color: #d4d4d8;
}

#result-div {
    height: 100px;
    width: 250px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

#result-div p {
    text-align: center;
    font-size: 18pt;
}